spring:
  application:
    name: camunda-retry-service
#  main:
#    allow-bean-definition-overriding:true

#Setting the logging levels for the service
logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    com.dchavez: DEBUG
server:
  port: 8081
opentracing:
  jaeger:
    udp-sender:
      host: localhost
      port: 6831
   
